<nav
  data-th-fragment="navbar"
  class="bg-white border-gray-900 shadow-sm dark:bg-gray-900"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2"
  >
    <!-- brand -->
    <a
      data-th-href="@{'/'}"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img
        data-th-src="@{'/images/telephone.png'}"
        class="h-8 shadow rounded-full"
        alt="SCM Logo"
      />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >SCM</span
      >
    </a>
    <!-- end brand -->

    <!-- hamburger (mobile only) -->
    <button
      id="navbar-toggler"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>

    <!-- menus -->
    <div
      id="menu-links"
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
    >
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            data-th-href="@{'/home'}"
            class="block py-2 px-3 md:p-0 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:dark:text-blue-500"
            >Home</a
          >
        </li>
        <li>
          <a
            data-th-href="@{'/about'}"
            class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 dark:text-white"
            >About</a
          >
        </li>
        <li>
          <a
            data-th-href="@{'/services'}"
            class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 dark:text-white"
            >Services</a
          >
        </li>
        <li>
          <a
            data-th-href="@{'/contact'}"
            class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 dark:text-white"
            >Contact</a
          >
        </li>
      </ul>
    </div>

    <!-- buttons -->
    <div
      id="menu-buttons"
      class="hidden w-full md:w-1/2 md:flex md:w-auto md:order-2 mt-2 md:mt-0"
    >
      <ul
        class="flex flex-col font-medium p-4 md:p-0 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-2 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li class="flex flex-col md:flex-row gap-2">
          <button
            id="theme_change_button"
            class="bg-gray-200 font-medium rounded-lg text-sm px-4 py-2 dark:bg-gray-600"
          >
            <i class="fa-solid fa-circle-half-stroke"></i><span>Light</span>
          </button>
          <a
            data-th-href="@{'/login'}"
            class="text-white text-center bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600"
          >
            Login
          </a>
          <a
            data-th-href="@{'/register'}"
            class="text-white text-center bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600"
          >
            Signup
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script th:src="@{/js/script.js}"></script>